.chat-list {

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;

    .chat-item {

        display: flex;
        flex-direction: row;
        gap: 10px;

        .content {
            background: var(--main-gray);
            border-radius: 10px;
            border-top-left-radius: 0;
            padding: 15px;
            border: 1px solid lightgray;
        }

        .date {
            position: relative;
            top: -5px;
            left: -2px;
            align-self: self-end;
            font-size: 12px;
            color: gray;
        }
    }
}