.chat>footer {
    position: relative;

    height: 200px;
    min-height: 200px;
    max-height: 200px;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 5px;

    textarea {
        background: var(--main-gray);
        outline: 0;
        border: 0;
        padding: 15px;
        width: 100%;    
        border-radius: 5px;
        resize: none;
        border: 1px solid rgb(220, 220, 220);
    }

    .send-btn {
        cursor: pointer;
        width: 50px;
        padding: 13px;
        outline: 0;
        border: 0;
        border-radius: 5px;
        background: var(--main-gray);
        border: 1px solid rgb(220, 220, 220);

        transition: all 0.35s ease;

        img {
            width: 100%;
        }
    }

    .send-btn:hover {
        background: rgb(231, 231, 231);
    }

    .send-btn:active {
        transform: scale(0.97);
    }
}